@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: theme("colors.canvas");
  color: theme("colors.ink.DEFAULT");
  font-family: theme("fontFamily.sans");
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
